version: '3'

services:
  api:
    build: .
    env_file:
      - .env
    image: strapi/strapi
    ports:
      - 1337:1337
    volumes:
      - ./strapi-app:/usr/src/api/strapi-app
      #- /usr/src/api/strapi-app/node_modules
    depends_on:
      - db
    restart: always

  db:
    image: mongo
    env_file:
      - .env
    ports:
      - 27017:27017
    volumes:
      - ./db:/data/db
    restart: always
